$primary-color: #34495e;
$primary-color-shadow: #2c3e50;
$secondary-color: #1abc9c;
html,
body,
main {
  height: 100%;
  width: 100%;
  text-align: center;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* Name Flicker */

h1 {
  font-family: 'Amatica SC', cursive;
  font-size: 90px;
  animation: text-flicker 3s linear infinite;
}

#offset {
  animation: letter-flicker 2s linear infinite;
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(255, 255, 255, 1);
  }
  2% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(255, 255, 255, 1);
  }
  8% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(255, 255, 255, 1);
  }
  9% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(255, 255, 255, 1);
  }
  12% {
    opacity: 0.1;
    text-shadow: 0px 0px rgba(255, 255, 255, 1);
  }
  20% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(255, 255, 255, 1)
  }
  25% {
    opacity: 0.3;
    text-shadow: 0px 0px 29px rgba(255, 255, 255, 1)
  }
  30% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(255, 255, 255, 1)
  }
  70% {
    opacity: 0.7;
    text-shadow: 0px 0px 29px rgba(255, 255, 255, 1)
  }
  72% {
    opacity: 0.2;
    text-shadow: 0px 0px 29px rgba(255, 255, 255, 1)
  }
  77% {
    opacity: .9;
    text-shadow: 0px 0px 29px rgba(255, 255, 255, 1)
  }
  100% {
    opacity: .9;
    text-shadow: 0px 0px 29px rgba(255, 255, 255, 1)
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
  }
  2% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
  }
  4% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
  }
  8% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
  }
  70% {
    opacity: 0.7;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
  }
  100% {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(16, 134, 232, 0.73);
  }
}

@keyframes letter-flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(255, 255, 255, 1);
  }
  2% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(255, 255, 255, 1);
  }
  4% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(255, 255, 255, 1);
  }
  19% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(255, 255, 255, 1);
  }
  21% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgba(255, 255, 255, 1);
  }
  23% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(255, 255, 255, 1);
  }
  80% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(255, 255, 255, 1);
  }
  83% {
    opacity: 0.4;
    text-shadow: 0px 0px 29px rgba(255, 255, 255, 1);
  }
  87% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgba(255, 255, 255, 1);
  }
}


/* end of name flicker*/

::selection {
  background: $primary-color;
  color: #fff;
}

.jumbotron {
  margin-bottom: 0;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo-cover {
  background: #34495e url("Image/nightsea.jpg") no-repeat center center / cover fixed;
  height: 700px;
  position: relative;
  margin-bottom: 0;
}

@media screen and (max-width: 9999999px) {
  .photo-cover {
    background: #34495e url("Image/nightsea.jpg") no-repeat center center / cover fixed;
    height: 980px;
    position: relative;
    margin-bottom: 0;
  }
}

.background-primary {
  background: #000;
}

.background-secondary {
  background: $primary-color-shadow;
}

.large {
  font-size: 2em;
}

.medium {
  font-size: 2em;
}



/* Header */

.transparent {
  background: transparent;
}

.navbar-inverse {
  transition: all 0.2s ease-in;
  background: black;
}


/* ARROW DOWN */


/* sets positioning */

.arrow {
  width: 60px;
  height: 82px;
  position: initial;
  left: 50%;
  margin-top: 15%;
  bottom: 20px;
}


/* sets arrow style */

.arrow path {
  stroke: #fff;
  fill: transparent;
  stroke-width: 3px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0
  }
  25% {
    opacity: 1
  }
  75% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0
  }
  25% {
    opacity: 1
  }
  75% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}

.arrow path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
}

.arrow path.a2 {
  animation-delay: -.5s;
  -webkit-animation-delay: -.5s;
}

.arrow path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

.navbar-inverse {
  transition: all 0.2s ease-in;
}


/* Portfolio */

.thumbnail {
  cursor: pointer;
  position: relative;
}

.thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: all 0.2s ease-in;
}

.thumbnail:hover .thumbnail-overlay {
  opacity: 0.5;
  transition: all 0.2s ease-in;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 5px;
  line-height: 1.72222;
  background-color: #ffffff;
  border: 2px solid #bdc3c7;
  border-radius: 6px;
  -webkit-transition: border 0.25s ease-in-out;
  transition: border 0.25s ease-in-out
}

.full-screen {
  background: #000;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  overflow-y: scroll;
}

.close-window {
  cursor: pointer;
}


/*ABOUT*/

#about .col-md-8 .col-md-offset-2 text-center {
  margin-bottom: 75px;
}

/* Skill level */

.bean-skills {
  width: : 50%;
  margin: 0 auto;
  padding: 0;

}

.bean-skills p {
  margin-bottom: 10px;
}

ul.bean-skillset {
  float: left;
  width: 100%;

}

.skill-percent {
  float: right;
}

li.skill-bar {
  background-color: #7BC673;
  color: #FFF;
  font: bold 12px/23px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  margin-bottom: 3px;
  padding: 2px 8px;
  width: 300px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
}


/* Project Pages */

#portfolio .jumbotron background-primary text-inverse .container {
  background: #000;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  overflow-y: scroll;
}

.close-window {
  cursor: pointer;
}


/* FOOTER DIV */

#footer {
  background: #000;
  color: #55606A;
  padding-top: 30px;
  padding-bottom: 25px;
  text-align: center;
  color: #fff;
  text-align: center;
}

.icon-btn {
  text-align: center;
  font-size: 30px;
  letter-spacing: 30px;
  text-indent: 30px;
}
