$primary-color: #34495e;
$primary-color-shadow: #2c3e50;
$secondary-color: #1abc9c;

html,
body,
main {
  height: 100%;
}

h1 {
  font-family: 'Amatica SC', cursive;
}

::selection {
  background: $primary-color;
  color: #fff;
}



.jumbotron {
 /* // Stops gaps between jumbotrons*/
  padding-top: 150px;
  padding-bottom: 150px;
  margin-bottom: -60;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo-cover {
  background: #34495e url(http://a1.files.theultralinx.com/image/upload/MTI5MDI0MjYwNTI1MTQwNjEx.gif) no-repeat center center / cover fixed;
  height: 700px;
  position: relative;
}


.background-primary {
  background: #4B657D;
}

.background-secondary {
  background: $primary-color-shadow;
}

.large {
  font-size: 4em;
}

.medium {
  font-size: 2em;
}

/* Header */

.transparent {
  background: transparent;
}

.navbar-inverse {
  transition: all 0.2s ease-in;
  background: black;
}
/*// Portfolio*/

.thumbnail {
  cursor: pointer;
  position: relative;
}

.thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $secondary-color;
  opacity: 0;
  transition: all 0.2s ease-in;
}

.thumbnail:hover .thumbnail-overlay {
  opacity: 1;
  transition: all 0.2s ease-in;
}


/*// Projects Pages*/

.full-screen {
  background: #eee;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
/*  // Avoids leaving portfolio screen stuck up*/
  overflow-y: scroll;
}

.close-window {
  cursor: pointer;
}

/* FOOTER DIV */
#footer {
  background: #ffffff;
  color: #55606A;
  padding-top: 30px;
  padding-bottom: 25px;
  text-align: center;
  color: gray;
}

.icon-btn {
  text-align: center;
  font-size: 30px;
  letter-spacing: 30px;
  text-indent: 30px;
}
